
@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Book online meeting room</title>
  @RenderPage("_CSS.cshtml")
  @RenderSection("styles", required: false)
</head>
<body>

  @RenderBody()

  @* Render Script *@
  @RenderPage("_Scripts.cshtml")
  @* Requide Script *@
  @RenderSection("scripts", required: false)
</body>
</html>
